# Shared
NAITON_FRONTEND_VERSION=v1.0.0
NAITON_API_PORT=4000
NAITON_API_BASE_URL=http://localhost:4000/api

# Frontend app ports
SHELL_PORT=3000
SALES_PORT=3001
CRM_PORT=3002
FMS_PORT=3003
ADMIN_PORT=3004

# Versioned basenames
SHELL_BASENAME=/v1.0.0/shell
SALES_BASENAME=/v1.0.0/sales
CRM_BASENAME=/v1.0.0/crm
FMS_BASENAME=/v1.0.0/fms
ADMIN_BASENAME=/v1.0.0/admin
